/*=============================================
=                  General                    =
=============================================*/

* {
    box-sizing: border-box;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

button:focus {
    outline: none;
}

/*=============================================
=                  Navbar                     =
=============================================*/

.navbar {
    box-shadow: 0 3px 18px rgba(0, 0, 0, .11);
}

/*=============================================
=                  Header                     =
=============================================*/
/* .設定 Header */
/* TODO: 1-1.放入背景圖片 #id名稱{background-image: url(圖片連結);} ，圖片連結:https://picsum.photos/2000/1400 */ 
/* TODO: 1-2.設定 background-size 為 cover */ 
/* TODO: 1-3.設定 background-attachment 為 fixed */
/* TODO: 1-4.設定 position 為 relative */
/* TODO: 1-5.設定 padding 為 150px */

#header{
    background-image: url(http://picsum.photos/2000/1400);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding: 150px;
}
/* TODO: 2.放入8張背景圖片 #id名稱{background-image: url('../img/圖片檔');} */

#galleryImage1{
    background-image: url('../img/galleryImage1.jpg');
}
#galleryImage2{
    background-image: url('../img/galleryImage2.jpg');
}
#galleryImage3{
    background-image: url('../img/galleryImage3.jpg');
}
#galleryImage4{
    background-image: url('../img/galleryImage4.jpg');
}
#galleryImage5{
    background-image: url('../img/galleryImage5.jpg');
}
#galleryImage6{
    background-image: url('../img/galleryImage6.jpg');
}
#galleryImage7{
    background-image: url('../img/galleryImage7.jpg');
}
#galleryImage8{
    background-image: url('../img/galleryImage8.jpg');
}

/* 設定Hover特效 */
/* TODO: 3-1.設定[id^='galleryImage'] -> background-size，height */
/* TODO: 3-2.filter 為 grayscale(100%) */

[id^='galleryImage']{
    background-size: cover;
    height: 250px;
    filter: grayscale(100%);
}

/* TODO: 4.設定[id^='galleryImage']>.galleryText -> color，text-shadow，text-align，line-height，font-size，opacity */

[id^='galleryImage']>.galleryText{
    color: white;
    text-shadow: 0 5px 10px rgba(0, 0, 0, .5);
    font-size: 25px;
    text-align: center;
    line-height: 250px;
    opacity: 0;
}

/* TODO: 5.設定[id^='galleryImage']:hover -> filter 為 grayscale(0%) */

[id^='galleryImage']:hover{
    filter: grayscale(0%);
}


/* TODO: 6.設定[id^='galleryImage']:hover>.galleryText -> opacity，font-size */

[id^='galleryImage']:hover>.galleryText{
    opacity: 50;
    font-size: 30px;
}

/* TODO: 7.設定[id^='galleryImage'],.galleryText -> transition */

[id^='galleryImage'],.galleryText{
    transition: all .5s ease-in-out;
}

/*=============================================
=                  Start Now                  =
=============================================*/

/*=============================================
=                   Footer                    =
=============================================*/

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-end p {
    font-size: 8px;
    margin: 0;
}